@import url("../Variables.css");

.sellers-page {
  display: flex;
  gap: 32px;
  justify-content: center;
  align-items: flex-start;
  max-width: 1200px;
  margin: 40px auto 0 auto;
  padding: 0 20px;
}

/* Responsividade */
@media (max-width: 900px) {
  .sellers-page {
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }
}