@import url("../Variables.css");

.client-page {
  font-family: Arial, sans-serif;
  padding: 20px;
}

.client-layout {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 32px;
  max-width: 1200px;
  margin: 0 auto;
}

/* Responsividade */
@media (max-width: 900px) {
  .client-layout {
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding: 10px;
  }
  .client-form-card {
    width: 100%;
    max-width: 100%;
    padding: 16px 8px;
    margin: 0;
  }
}